.sass-cache/
.classpath
.settings/
.project
.DS_Store
node_modules
bower_components
src/main/webapp/resources/fonts
src/main/webapp/resources/images
src/main/webapp/resources/img
src/main/webapp/resources/js
src/main/webapp/resources/style
src/main/webapp/resources/config
src/main/webapp/resources/templates
target/
target/**
src/main/webapp/resources/florintos.html
src/main/webapp/resources/login.html
/target/
node/
src/main/webapp/resources
